// .info {
//   text-align: center;
//   font-size: 40px;
//   font-style: initial;
//   font-stretch: ultra-expanded;
//   font-weight: bolder;
// }

.home {
  padding: 20px;
  margin: 20px auto;
  .signup-page {
    margin: 40px auto;
    padding: 20px;
    height: 450px;
    width: 1200px;
    background-color: white;
    opacity: 0.7;
    }
    .heading {
      text-align: center;
      font-size: 35px;
      margin-bottom: 20px;
      font-style: initial;
    }
    .form-field-full {
      text-align: center;
      width: 100%;
      opacity: 1;
      .mat-form-field {
        width: 100%;
        opacity: 1;
      }
  }
  
  

  .links {
    .link-item {
      a {
        align-content: center
        
      }
    }
  }
}
