.card-image {
    float: left;
    width: 50%;
    height: 250px;
  }
  .card-image img {
    height: 80%;
   
  }
  .right-content {
    width: 70%;
    float: left;
  }
  .card-title {
    padding-left: 20px;
  }
.card-content{
    display: flex;
    justify-content: flex-start;
}